%p
  = "Hi, #{@user.name}!"

%p
  Your role has been changed for the administrator of the system.

%p
  = image_tag attachments['logo.png'].url, width: '100px'
  %br
  %strong Greetings,
  %br
  %strong ARIS
