.span6.well
  = f.input :name, disabled: disabled
  = f.input :sits, disabled: disabled
  = f.input :on_floor, disabled: disabled
  - unless disabled
    = f.link_to_remove 'Remove', {class: 'pull-right btn btn-small btn-danger'}